<div id="grid-container">

  <div id="sidenav" [ngClass]="{'activeCollapsed':collapsed}">
    <app-nav></app-nav>
   </div>

 <div id="content" [ngClass]="{'activeCollapsed':collapsed}">

 
<div class="all-charts">
  <h3 class="page-title">Charts with PUNK APIs</h3>

<div class='row'>
    <div class='column'>
      <div class="chart">
       <app-barpunk-chart></app-barpunk-chart>
      </div>
    </div>

  <div class='column'>
    <div class="chart">
      <app-linepunk-chart></app-linepunk-chart>
    </div>
  </div>
</div>

<div class='row'>
  <div class='column'>
    <div class="chart">
     <app-mixedpunk-chart></app-mixedpunk-chart>
    </div>
    </div>  

    <div class='column'>
      <div class="chart">
       <app-random></app-random>
      </div>
      </div>  
</div>
</div>
</div> 
</div>

<button id="toggle-sidebar" 
(click)="togglesideBar()">
<span class="toggle-span">{{collapsed ? '>': '<'}}</span>
</button>