<app-nav></app-nav>

<h1>Charts with PUNK APIs</h1>
 
<div class="all-charts">
<div class='row'>
    <div class='column'>
      <div class="chart">
       <app-barpunk-chart></app-barpunk-chart>
      </div>
    </div>

  <div class='column'>
    <div class="chart">
      <app-linepunk-chart></app-linepunk-chart>
    </div>
  </div>
</div>

<div class='row'>
  <div class='column'>
    <div class="chart">
     <app-mixedpunk-chart></app-mixedpunk-chart>
    </div>
    </div>  

    <div class='column'>
      <div class="chart">
       <app-random></app-random>
      </div>
      </div>  
</div>

</div> 
