<section class="card-container">
    <p><b>Latest Confirmed Bookings</b></p>
<div class="card-all">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Athletics by WSE Provider for A School <mat-icon>view_day</mat-icon></mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <div class="card-component-top">
          <p>At Pennine Care NHS Trust</p>
          <p>Starting On 21/11/2022 at 09:00</p>
          <p>Ending On 21/11/2023 at 09:00</p>
        </div>
        <mat-divider></mat-divider>
        <div class="card-component-bottom">
            <p>Customer school@myschool.com</p>
            <p>Provider cm@wseprovider.com</p>
        </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Athletics by WSE Provider for A School <mat-icon>view_day</mat-icon></mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <div class="card-component-top">
          <p>At Pennine Care NHS Trust</p>
          <p>Starting On 21/11/2022 at 09:00</p>
          <p>Ending On 21/11/2023 at 09:00</p>
        </div>
        <mat-divider></mat-divider>
        <div class="card-component-bottom">
            <p>Customer school@myschool.com</p>
            <p>Provider cm@wseprovider.com</p>
        </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Athletics by WSE Provider for A School <mat-icon>view_day</mat-icon></mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <div class="card-component-top">
        <p>At Pennine Care NHS Trust</p>
        <p>Starting On 21/11/2022 at 09:00</p>
        <p>Ending On 21/11/2023 at 09:00</p>
      </div>
      <mat-divider></mat-divider>
      <div class="card-component-bottom">
          <p>Customer school@myschool.com</p>
          <p>Provider cm@wseprovider.com</p>
      </div>
      </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Athletics by WSE Provider for A School <mat-icon>view_day</mat-icon></mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <div class="card-component-top">
      <p>At Pennine Care NHS Trust</p>
      <p>Starting On 21/11/2022 at 09:00</p>
      <p>Ending On 21/11/2023 at 09:00</p>
    </div>
    <mat-divider></mat-divider>
    <div class="card-component-bottom">
        <p>Customer school@myschool.com</p>
        <p>Provider cm@wseprovider.com</p>
    </div>
    </mat-card-content>
</mat-card>
      
</div>