<section class="card-container">
    <div class="card-container-title">
        <p><b>sessions</b></p>
    </div>
<div class="card-all">
    <p>Monday 10 January 2023</p>
 <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Althletics for Audiolosy At School</mat-card-title>
        <mat-card-subtitle>09:00 for 60 minutes</mat-card-subtitle>
    </mat-card-header>
    
    <div class="card-action">
        <button class="card-btn" mat-button>Detail</button>
        <button class="card-btn" mat-button>Calendar</button>
    </div>
  </mat-card> 
  <p>Monday 20 January 2023</p>
  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Althletics for Audiolosy At School</mat-card-title>
        <mat-card-subtitle>09:00 for 60 minutes</mat-card-subtitle>
    </mat-card-header>
    
    <div class="card-action">
        <button class="card-btn" mat-button>Detail</button>
        <button class="card-btn" mat-button>Calendar</button>
    </div>
  </mat-card> 
  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Althletics for Audiolosy At School</mat-card-title>
        <mat-card-subtitle>09:00 for 60 minutes</mat-card-subtitle>
    </mat-card-header>
    
    <div class="card-action">
        <button class="card-btn" mat-button>Detail</button>
        <button class="card-btn" mat-button>Calendar</button>
    </div>
  </mat-card> 
</div>

  <!-- <div class="card">
    <h4><b>Althletics for Audiolosy At School</b></h4>
    <h6>09:00 for 60 minutes</h6>
    <div class="card-action">
        <button class="card-btn" mat-button>Detail</button>
        <button class="card-btn" mat-button>Calendar</button>
    </div>  
  </div> -->
</section>