<p>Bar Chart</p>
    <div class="chart-container">
        <canvas  id="BarPunkChart" >{{ barpunkchart }}</canvas>
    </div>

  

  <!-- <div class="container">

    <ul class="flex-item" *ngFor="let beer of beers">
      <div class="card">
  
      <div class="card-content">
        <p class="card-title"> <span>ID {{beer.id}}</span> {{beer.name}}</p>  
        <p>{{beer.description}}</p>
        <p>OH: {{beer.ph}}</p>
        <p>Volume: {{beer.volume.value}}</p>
        <p>mash-tem: {{beer.method.mash_temp[0].temp.value}}</p>
        <p>fermentation-temp: {{beer.method.fermentation.temp.value}}</p>
        <p>Malt: {{beer.ingredients.malt[0].amount.value}}</p>
        <p>hope: {{beer.ingredients.hops[0].amount.value}}</p>

      </div> 
      
      </div>
    </ul>
</div>    - -->