table {
    width: 100%;
  }

.table-title{
    padding:10px;
    text-align: left;
  
  }

.example-table-container{
    width:100%;
    table-layout: fixed;
    border-collapse: collapse;  
    overflow: auto;

}
tr:nth-child(even) {
  background-color: #F1FAEE;
}
td .table-cell{
  width: 100px;
  height: 30px;
  
  /* overflow: hidden;
  white-space: normal; */
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
}




@media (max-width:600px){

    .example-table-container {
        height: 400px;
        width: 370px;
        max-width: 100%;
        overflow: auto; 
      }
      table td:first-child{
        background: rgb(202, 240, 209);
      }
      mat-paginator{
        display:inline;
      }


    
   
}
  
  
  /* .mat-form-field {
    font-size: 14px;
    width: 20%;
  }
  
  
  
  .th-center{
    text-align: center;
  }
  .th-left{
    text-align: left;
  }
  .th-right{
    text-align: right;
  }  */