
/*------ sortable header directive -------*/

th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
} 

th[sortable].desc:before,
th[sortable].asc:before {
  content: "";
  display: block;
   background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC")
    no-repeat; 
  background-size: 16px;
  width: 16px;
  height: 16px;
  float: left;
  margin-left: -10px;
  margin-top: 4px;
}

th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
} 


/*  #production-table thead {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

#production-table thead th .sortable-icon.desc:before,
#production-table thead th .sortable-icon.asc:before {
  content: "";
  display: block;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC")
    no-repeat; 
  background-size: 16px;
  width: 16px;
  height: 16px;
  float: left;
  margin-left: -10px;
  margin-top: 4px;
}

#production-table thead th .sortable-icon.desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}  */




/*  #production-table thead th .sortable-icon{
  position: absolute;
  top:25px;
  right:50px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
 #production-table thead .sortable-header:hover .sortable-icon{
  transform: translateY(-50%) rotate(180deg);
 
}  */ 



.table-title{
    padding:10px;
    text-align: left;
  }
  #production-table {
    width: 100%;
    border-collapse: collapse;  
  
  }
  #production-table th, #production-table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    background-color: white;
  }
  
  #production-table thead th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #A8DADC;
    position: sticky;
    top:0;
    color:blue;
    z-index: 1;
  }
  
  
  #production-table tbody td .table-cell{
    width: 100px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
  }
  
  
  /* stripe doesn't work 
   */
  #production-table tbody .table-row:hover {
    background-color: rgb(212, 62, 62);
  }
  
  
  @media (max-width:600px){
    .example-table-container{
      height:600px;
      width:80%;
      overflow: auto; 
     
    }
  
    #production-table tbody td:first-child {
        position: sticky;
        left: 0;
        background-color: #ccdca8;
  
    }
  
    /* thead>th:first-child cell is the very highest,
    as it needs to be above the body cells and it’s sibling headers again 
    for horizontal scrolling. */
    
    #production-table thead th:first-child{
      position:sticky;
      left: 0;
      background-color: #3b5205;
      z-index: 2;
   }
  
    
     
   
  }
  
  
   