table{
    width:100%;
}
.example-container{
    height: 500px;
    overflow: auto;
}
.table-title{
    padding:10px;
    text-align: left;

}
caption {
    padding:10px;
    text-align: left;
    position: sticky;
}

td .table-cell{
    width: 50px;
    height: 65px;
    color:red;
    overflow: hidden;

    text-overflow: ellipsis;
} 

tr:nth-child(even) {
    background-color: rgb(215, 197, 231);
}

table th{
  padding: 3px;
  position: sticky;
  top: 0;
  z-index: 4;
  width: 25vw;
  background:pink;
}
/* table th:first-child{
    position: sticky;
    left: 0;
    z-index: 2;
    background:yellow;
}  */

/*  table td:first-child{
  position: sticky;
  left: 0;
  background: rgb(202, 240, 209);
} */
 

@media (max-width:1000px){
    
    .example-container {
        max-width: 100%;
        overflow: auto;
        margin-bottom: 20px;
       }

}

    
     

  