
<div>
    <p class="table-title">(2) table with multiple filtering, retrieving data through HTTP</p>
</div>

<section class="example-container">
  <mat-form-field appearance="fill" *ngFor="let productionFilter of productionFilters">
    <mat-label>{{ productionFilter.name }}</mat-label>
    <mat-select
      placeholder="All"
      [(value)]="productionFilter.defaultValue"
      (selectionChange)="applyProductionFilter($event, productionFilter)"
    >
      <mat-option *ngFor="let option of productionFilter.options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  
  <table mat-table [dataSource]="dataSourceFilters" class="mat-elevation-z8">
    
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let pro">{{ pro[column] }}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>

 
</section>

