<div>
    <p class="table-title">(3)Table with CSS, create Pipe for multiple filter function</p>
</div>

<div class="form-group">
  <label>Filter By Name: </label>
  <input type="search" 
  class="form-control" 
  [(ngModel)]="filterName"
  placeholder="All">
  <br/>
  <label>Filter By Tip: </label>
  <input type="search" 
  class="form-control" 
  [(ngModel)]="filterTip"
  placeholder="All">
  <br/>
  <label>Filter By Tag: </label>
  <input type="search" 
  class="form-control" 
  [(ngModel)]="filterTagline"
  placeholder="All">
  <br/>
 <!--  <label>Filter By PH: </label>
  <input type="search" 
  class="form-control" 
  [(ngModel)]="filterPh"
  placeholder="All"> -->

</div>

<section class="example-container">
  <div class="example-table-container mat-elevation-z8">
  <table id="production-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>id</th>
          <th>PH</th>
          <th>Brewers_Tips</th>
          <th>First_Brewed</th>
          <th>Tag Line</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let production of productions | punkFilter: filterName: filterTip: filterTagline" class="table-row">
          <td ><div class="table-cell">{{production.name}}</div></td>
          <td ><div class="table-cell">{{production.id}}</div></td>
          <td ><div class="table-cell">{{production.ph}}</div></td>
          <td ><div class="table-cell">{{production.brewers_tips}}</div></td>
          <td ><div class="table-cell">{{production.first_brewed}}</div></td>
          <td ><div class="table-cell">{{production.tagline}}</div></td>
        </tr>
      </tbody>
    </table>
    </div>
  </section>