.table-title{
  padding:10px;
  text-align: left;
}
table {
  width: 100%;
  border-collapse: collapse;  

}
table th, table td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  background-color: white;
}

table thead th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #A8DADC;
  position: sticky;
  top:0;
  color:blue;
  z-index: 1;
}


table tbody td .table-cell{
  width: 100px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}


/* stripe doesn't work 
 */
table tbody .table-row:hover {
  background-color: rgb(212, 62, 62);
}


@media (max-width:670px){
  .example-table-container{
    height: 400px;
    width: 550px;
    overflow: auto; 
   
  }

  table tbody td:first-child {
      position: sticky;
      left: 0;
      background-color: #ccdca8;

  }

  
   
 
}


 