<div>
    <p class="table-title">(3)Table with CSS, sticky header, column</p>
</div>

<section class="example-container">
  <div class="example-table-container mat-elevation-z8">
  <table id="production-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>id</th>
          <th>PH</th>
          <th>First_Brewed</th>
          <th>Tag Line</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let production of productions" class="table-row">
          <td ><div class="table-cell">{{production.name}}</div></td>
          <td ><div class="table-cell">{{production.id}}</div></td>
          <td ><div class="table-cell">{{production.ph}}</div></td>
          <td ><div class="table-cell">{{production.first_brewed}}</div></td>
          <td ><div class="table-cell">{{production.tagline}}</div></td>
        </tr>
      </tbody>
    </table>
    </div>
  </section>