table {
    width: 100%;
  }
.table-title{
    padding:10px;
    text-align: left;
  
  }
 
  
  td .table-cell{
    width: 100px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
  }
  
  table th{
    padding: 8px;
    /* width: 25vw; */ 
/*     background:#A8DADC;
 */    text-align: left;
  }
  
  .users-table-cell{
     padding:8px; 
  }  
  
  
   
  @media (max-width:600px){
    .example-table-container {
      height: 450px;
      width: 450px;
      overflow: auto; 
     
    }

    table td:first-child{
   
      background: rgb(202, 240, 209);
    }
    
   
  }
  