.sidebar{
/*     position: fixed;
 */    width:300px;
    height:100%;
    left:0;
    background:white;
    color:#1D3557;
    border-right: 1px solid  #A8DADC;
    
}
.sidebar .text{
    color:#E63946;
    font-size: 20px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
   /*  background:rgb(246, 244, 244); */
    letter-spacing: 1px;
    padding-bottom: 20px;
}
nav ul{
    background-color: white;
    height:100%;
    width:100%;
    list-style: none;
}
nav ul li{
    line-height: 60px;
   /*  border-bottom: 1px solid #A8DADC; */
}
nav ul li a{
    position: relative;
    color:#1D3557;
    text-decoration: none;
    font-size:18px;
    padding-left:40px;
    font-weight: 570;
    display:block;
    width:100%;
}
nav ul li a:hover{
    color:white;
    background: #E63946;
    font-weight: 600;
    border-radius: 3px;
} 
nav ul li .menu:hover{
    color:#E63946;
    background: white;
}
nav ul ul{
    position:static;
}
nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}
nav ul ul li a{
    font-size: 17px;
    color:#000916;
    padding-left:50px
}
nav ul li a .nav-icon{
    position: absolute;
    top:25px;
    right: 25px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}
nav ul li a:hover .nav-icon{
    transform: translateY(-50%) rotate(90deg);
}
nav ul ul li a:hover{
    color:white;
}
nav ul li a .nav-menu-icon{
    color:#1D3557;
    font-size: 22px;
    position: absolute;
    left:10px;
    top:20px;
}
nav ul li .logout{
    margin-top: 50px;
}

