<app-nav></app-nav>

<h1>Home</h1>

<div class="all-charts">
 <div class='row'>
    <div class='column'>
    <div class="chart">
          <app-bar-chart></app-bar-chart>
    </div>
    </div>

    <div class='column'>
    <div class="chart">
          <app-line-chart></app-line-chart>
    </div>
    </div> 
 </div>  
 <div class='row'>
    <div class='column'>
    <div class="chart">
        <app-pie-chart></app-pie-chart>
    </div> 
    </div>

    <div class='column'>
    <div class="chart">
    <app-mixed-chart></app-mixed-chart>
    </div> 
    </div> 
    
 </div>
</div> 




