<div id="grid-container">

  <div id="sidenav" [ngClass]="{'activeCollapsed':collapsed}">
   <app-nav></app-nav>
  </div>

 <div id="content" [ngClass]="{'activeCollapsed':collapsed}">
      
  <div class="all-charts">
      <h3 class="page-title">Home</h3>

  <div class='row'>
    <div class='column'>
    <div class="chart">
          <app-bar-chart></app-bar-chart>
    </div>
    </div>

    <div class='column'>
    <div class="chart">
          <app-line-chart></app-line-chart>
    </div>
    </div> 
  </div> 

 <div class='row'>
    <div class='column'>
    <div class="chart">
        <app-pie-chart></app-pie-chart>
    </div> 
    </div>

    <div class='column'>
    <div class="chart">
    <app-mixed-chart></app-mixed-chart>
    </div> 
    </div> 
 </div>

 </div> 
</div>

</div>


<button id="toggle-sidebar" 
(click)="togglesideBar()">
<span class="toggle-span">{{collapsed ? '>': '<'}}</span>
</button>
