.all-charts{
   margin: 18px;
   border-radius: 15px;
   background-color: aliceblue;
   border-radius: 15px;
}

.chart{
     padding:30px;
} 

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }


